.ui-widget, .ui-widget .ui-widget {    
	font-size: 87% !important;
}

body{
	background: #E0FFFF !important;
}

.btnHomeInicio{
	width: 200px;
	height: 200px;
	background-color: transparent !important;
	border:0 !important;
	border-radius: 30%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

.btnSocios {
	background-image: url(#{request.contextPath}/img/investidores200.png) !important;
}

.btnOcorrencias {
	background-image: url(#{request.contextPath}/img/ocorrencias200.png) !important;
}

.btnProjetos {
	background-image: url(#{request.contextPath}/img/projetos200.png) !important;
}
.btnSimulacoes {
	background-image: url(#{request.contextPath}/img/simulacoes200.png) !important;
}

.redTexto{
	color:red !important;
}
.greenTexto{
	color:green !important;
}

.nav { height: 42px;}
    .nav ul { list-style: none; }
    .nav ul li{float: left; margin-top: 6px; padding: 6px; border-right: 1px solid #ACACAC;}
    .nav ul li:first-child{ padding-left: 0;}
    .nav ul li a { }
    .nav ul li a:hover{ text-decoration: underline;}