<module xmlns="urn:jboss:module:1.1" name="org.postgresql">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
 
    <resources>
        <resource-root path="postgresql-9.4.1208.jre7.jar"/>
    </resources>
 
    <dependencies>
        <module name="javax.api"/>
    </dependencies>
</module>